@import "about_section.css";
@import "logo_and_nav.css";
@import "subscribe.css";

body{
    background-image: linear-gradient(to left bottom, #ffedcb, #bcd2ae, #78b4a6, #4491a3, #426a93);
}

div.suggested-articles-container{
    display: grid;
    grid-template-columns: .5fr 1fr .5fr 1fr .5fr;
    grid-template-rows: 1fr .3fr 1fr;
}

article.suggested-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 140px;
}
article.suggested-article h3{
    border: 2px double black;
}

article.suggested-article img{
    max-height: 140px;
    max-width: 140px;
}

article.suggested-article a{
    text-decoration: none;
}

article.suggested-article a:hover{
    color:aquamarine;
}

article.suggested-article a:visited{
    color: blue;
    border-bottom: 1px solid blue;
}

article#article-one{
    grid-area: 1 / 2 / 2 / 3;
    border: 2px double blue;
    color: #ffedcb;
    background-color: #426a93;
}

article#article-two{
    grid-area: 1 / 4 / 2 / 5;
    border: 2px double red;
    color: #ffedcb;
    background-color: #426a93;
}

article#article-three{
    grid-area: 3 / 2 / 4 / 3;
    border: 2px double green;
    color: #ffedcb;
    background-color: #426a93;
}

article#article-four{
    grid-area: 3 / 4 / 4 / 5;
    border: 2px double purple;
    color: #ffedcb;
    background-color: #426a93;
}

@media (min-width:500px){
    body{
        background-color: black;
    }
}