header.logo-display-container{
    background-image: url("../images/logo-display.jpg");
    background-size: cover;
    min-width: 100%;
    min-height: 30vh;
    max-height: 40vh;
}

h3.logo-name{
    display: flex;
    justify-content: center;
    color:antiquewhite;
}

nav{
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
    margin-bottom: 2vh;
    /*background-color: ; */
}

nav a{
    text-decoration: none;
   /* color: #D3D3D3;*/
}

nav a:hover{
    text-decoration: underline;
    color: black;
}